<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="indexblog.css">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>


</head>
<body>
<div class="container">

	
		  <nav class="menu">
		    <ul class="nav-ul">
		      <li>My Profile</li>
		      <li>My Skills</li>
		      <li>Timeline</li>
		      <li>Projects</li>
		      <li>Blog</li>
		    </ul>
		  </nav>



		  <div class="tieudeblog">
		  	<h3>Chuyen muc: kinh nghiem cong viec</h3>
		  </div>
	


	

	



	<div class="containerblog">
		
			<div class="item">
				
				
					<div class="img-inside" >
						
							<span  class="img-contain" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/CaroVN.jpg/440px-CaroVN.jpg') ;"></span>
					</div>
				

				
				
					
				


				<div class="info">


					<div class="tieude">
						<h1 class="chuviet">Tieu de bai vietTieu de bai vietTieu de bai vietTieu de bai vietTieu de bai viet</h1>
					</div>


					<div class="credit">
						<div class="tacgia">
							<div class="ten">By Lam Ngyen</div>
							<div class="ngaythang"> 10/10/2019</div>
						</div>
						<div class="iconditiep">
							<i class="fa fa-arrow-right muiten" aria-hidden="true"></i>
						</div>
					</div>
				</div>

				
			</div>
			<div class="item">
				
				
					<div class="img-inside" >
						
							<span  class="img-contain" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/CaroVN.jpg/440px-CaroVN.jpg') ;"></span>
					</div>
				

				
				
					
				


				<div class="info">


					<div class="tieude">
						<h1 class="chuviet">Tieu de bai vietTieu de bai vietTieu de bai vietTieu de bai vietTieu de bai viet</h1>
					</div>


					<div class="credit">
						<div class="tacgia">
							<div class="ten">By Lam Ngyen</div>
							<div class="ngaythang"> 10/10/2019</div>
						</div>
						<div class="iconditiep">
							<i class="fa fa-arrow-right muiten" aria-hidden="true"></i>
						</div>
					</div>
				</div>

				
			</div>
			<div class="item">
				
				
					<div class="img-inside" >
						
							<span  class="img-contain" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/CaroVN.jpg/440px-CaroVN.jpg') ;"></span>
					</div>
				

				
				
					
				


				<div class="info">


					<div class="tieude">
						<h1 class="chuviet">Tieu de bai vietTieu de bai vietTieu de bai vietTieu de bai vietTieu de bai viet</h1>
					</div>


					<div class="credit">
						<div class="tacgia">
							<div class="ten">By Lam Ngyen</div>
							<div class="ngaythang"> 10/10/2019</div>
						</div>
						<div class="iconditiep">
							<i class="fa fa-arrow-right muiten" aria-hidden="true"></i>
						</div>
					</div>
				</div>

				
			</div>

			<div class="item">
				
				
					<div class="img-inside" >
						
							<span  class="img-contain" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/CaroVN.jpg/440px-CaroVN.jpg') ;"></span>
					</div>
				

				
				
					
				


				<div class="info">


					<div class="tieude">
						<h1 class="chuviet">Tieu de bai vietTieu de bai vietTieu de bai vietTieu de bai vietTieu de bai viet</h1>
					</div>


					<div class="credit">
						<div class="tacgia">
							<div class="ten">By Lam Ngyen</div>
							<div class="ngaythang"> 10/10/2019</div>
						</div>
						<div class="iconditiep">
							<i class="fa fa-arrow-right muiten" aria-hidden="true"></i>
						</div>
					</div>
				</div>

				
			</div>
			<div class="item">
				
				
					<div class="img-inside" >
						
							<span  class="img-contain" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/CaroVN.jpg/440px-CaroVN.jpg') ;"></span>
					</div>
				

				
				
					
				


				<div class="info">


					<div class="tieude">
						<h1 class="chuviet">Tieu de bai vietTieu de bai vietTieu de bai vietTieu de bai vietTieu de bai viet</h1>
					</div>


					<div class="credit">
						<div class="tacgia">
							<div class="ten">By Lam Ngyen</div>
							<div class="ngaythang"> 10/10/2019</div>
						</div>
						<div class="iconditiep">
							<i class="fa fa-arrow-right muiten" aria-hidden="true"></i>
						</div>
					</div>
				</div>

				
			</div>
		
	</div>


</div>

</body>
</html>