<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MyPersonalWebsite</title>

  <link rel="stylesheet" href="/css/style_frontend.css">
  <script type="text/javascript" src="/js/index.js"></script>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"></script>
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">


</head>



<div class="my-profile">
    <h1>My Profile</h1>
    <div class="profile-text">I am a Computer Science Student</div>
    <hr>
    <div class="profile-info">
      <ul>
        <li class="info-1">
          <h2>A few words about myself</h2>
          <br>
          <div>I am a Computer Science major with a great interest in Artificial Intelligence</div>
        </li>
        <li class="info-2">
          <img src="image/mainimage.jpg" alt="">
        </li>
        <li class="info-3">
          <h1>Details
  
          </h1>
          <ul>
            <li>Name: Nhat Nguyen</li>
            <li>Age: 19</li>
            <li>Location: Berkeley, CA, USA</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>