<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MyPersonalWebsite</title>

  <link rel="stylesheet" href="/css/style_frontend.css">
  <script type="text/javascript" src="/js/index.js"></script>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"></script>
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">


</head>

<div class="skills">
    <h1>My Skills</h1>
    <hr>
    <div class="skill-info">
      <div class="skill-info-1">
        <p>Languages</p>
        <ul>
          <li>C++</li>
          <li>Java</li>
          <li>Javascript</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>MySQL</li>
        </ul>
      </div>
      <div class="skill-info-2">
        <p>Technoligies</p>
        <ul>
          <li>Bootstrap</li>
          <li>Android</li>
          <li>ReactJS</li>
          <li>Servlet</li>
          <li>Redux</li>
        </ul>
      </div>
    </div>
  </div>