<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MyPersonalWebsite</title>

  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="/js/index.js"></script>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"></script>
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">


</head>
<body>


<div id="particles-js" class="particle">

  


  <nav class="menu">
    <ul class="nav-ul">
      <li>My Profile</li>
      <li>My Skills</li>
      <li>Timeline</li>
      <li>Projects</li>
      <li>Blog</li>
    </ul>
  </nav>


  <div class="text">
  <div class="ve1">
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 495.29 108.72"><title>svg3</title>
      <path class="path1" d="M54.85,50.87c-.42,16-4,31.53-9.1,46.63-2.49,7.38-4.89,15.56-8.88,22.26-2.5,4.22-7.08,8.61-12.5,7.17-3.87-1-6.38-4.91-7.48-8.53-1.29-4.2-1.86-11.12,3.52-12.82,4.24-1.34,8.31,1.54,11.09,4.36,4.51,4.6,7.73,10,13.34,13.51C52.75,128.35,64,128,69,119.21a1.5,1.5,0,0,0-2.59-1.51c-5.55,9.8-17.81,5.92-24.42-.29-5.27-5-8.82-12.83-16.38-14.71-14.9-3.7-14.89,16.7-7.1,24.15,4.53,4.34,10.94,4.13,15.83.48,6.22-4.66,8.6-13.34,11.2-20.28C52.29,89,57.35,70.25,57.85,50.87c0-1.93-3-1.93-3,0Z" transform="translate(-13.31 -49.42)"/>
      <path class="path2" d="M103.77,87.85c-9.65-1.94-17.71,4.44-21,13.26-3,8.06-3.19,19.36,5.61,23.78,3,1.54,7.74,2.36,10.69.11,3.41-2.6,5-9.59,6.34-13.45,1.53-4.55,9.1-23.15-.53-23.6a1.51,1.51,0,0,0-1.06,2.56c3.55,3.35,3.77,10.33,4.73,14.87s1.59,9.48,3.73,13.67c.94,1.84,2.71,5.1,5.26,4.64s3.71-4.64,4-6.8c.26-1.89-2.63-2.71-2.89-.8-.12.86-.53,4.49-1.92,4.29s-2.66-4.66-3.09-6c-1.09-3.44-1.64-7.1-2.39-10.62C110.22,98.65,110,92.16,106,88.39L104.92,91c4,.19-1.63,17.61-2.37,19.8-1,3-2,6.44-3.62,9.12-3.17,5.09-9.24,3.71-12.43-.32C78.07,108.9,89.16,88,103,90.74c1.88.38,2.69-2.51.8-2.89Z" transform="translate(-13.31 -49.42)"/>
      <path class="path3" d="M132.27,88.38q-.45,17.39.39,34.77a1.5,1.5,0,0,0,3,0,66.78,66.78,0,0,1,2-15.43,30.45,30.45,0,0,1,3-7.16c1.3-2.2,4.69-7.1,7.74-7.1,2.63,0,5.33,2.74,6,5.07a26.11,26.11,0,0,1,.9,5.19c.24,2.47.18,5,.24,7.42.11,4.7.59,9,2.55,13.36.75,1.65,3,.39,2.74-1.16a30.42,30.42,0,0,1,6.27-24.51c1.29-1.57,3.27-4.48,5.8-3.41,1,.4,2,2.62,2.38,3.47,1.5,3,2.16,6.25,3,9.42,1.23,4.45,2.72,9.67,6.76,12.44,5,3.4,6.81-4.85,8.57-8.27.88-1.71-1.71-3.23-2.59-1.51-1,2-1.85,4.46-3.19,6.19-1.13,1.48-.3,1.65-1.83.5a8.86,8.86,0,0,1-1.85-2.28c-2-3-2.67-6.8-3.6-10.25-1.07-3.92-3.23-12.82-8.31-13.65-4.7-.77-9.79,8.26-11.46,11.64a33.62,33.62,0,0,0-2.87,21l2.74-1.16c-3.65-8-.9-17-3.38-25.25-1.38-4.57-4.53-8.38-9.72-7.16C142,91.9,138.16,98.06,136.13,103c-2.59,6.37-3.18,13.33-3.47,20.13h3q-.84-17.39-.39-34.77c0-1.93-3-1.93-3,0Z" transform="translate(-13.31 -49.42)"/>
      <path class="path4" d="M208.79,123.8a79.63,79.63,0,0,0,28.3-67h-3c1.76,21.78,4.64,43.51,11.22,64.42a1.5,1.5,0,0,0,2.89-.79c-3.57-24.35,2.3-50,23.07-65,1.55-1.12.05-3.73-1.52-2.59-22,15.93-28.23,42.57-24.44,68.39l2.89-.79c-6.5-20.67-9.37-42.1-11.11-63.63-.15-1.91-3.15-1.93-3,0a76.85,76.85,0,0,1-27.42,64.91c-1.48,1.24.65,3.35,2.12,2.12Z" transform="translate(-13.31 -49.42)"/>
      <path class="path5" d="M284.48,88.84c-17.61-4.87-24.91,24.57-9.12,31,6.58,2.66,13.63-.65,15.43-7.49,2-7.79,2.76-18.82-5.55-23.09-1.2-.62-3.05.76-2.06,2.05,9.92,12.84,7.72,33.23,5.84,48.35a27,27,0,0,1-1.27,6c-1,2.77-5.37,9.85-9.33,4.73-3-3.92-.24-11,2-14.43,4.64-7.16,12.12-13,19.05-17.8,1.57-1.09.08-3.69-1.52-2.59-8.74,6-20,14.32-23,25.07-1.79,6.46,1.05,18.64,9.83,13.53,3.89-2.27,5.87-6.66,6.71-10.88,1.35-6.76,1.48-13.94,1.64-20.81.27-11.32-.14-23.4-7.35-32.74l-2,2.06c9.65,5,6.29,30.79-7.17,25.18-12.31-5.12-7-29.16,7.13-25.25a1.5,1.5,0,0,0,.8-2.89Z" transform="translate(-13.31 -49.42)"/>
      <path class="path6" d="M304.87,88.94a45.84,45.84,0,0,0,2,21.08c1.07,3.11,3.72,11.93,7.85,12.12,4.53.2,9.27-8.3,10.72-11.56,3.16-7.11,3.32-15,2.89-22.61-.11-1.91-3-2-3,0,0,5.69.2,11.38.66,17,.32,4,.21,8.8,2,12.46,1,2,3.1,4.26,5.62,3.6,3.16-.84,4.68-6.61,6-9.09.88-1.71-1.71-3.23-2.59-1.51-1,2-3.26,9.07-6.16,6-1.76-1.84-1.43-7.2-1.65-9.6-.57-6.3-.81-12.61-.82-18.94h-3c.31,5.53.38,11.12-1,16.53-1,3.89-4.12,13-9,13-2.68,0-3.47-3.07-4.5-5.45a42.4,42.4,0,0,1-2.45-7.47,44.39,44.39,0,0,1-.57-15.63c.25-1.91-2.75-1.89-3,0Z" transform="translate(-13.31 -49.42)"/>
      <path class="path7" d="M354.34,86.74c-1.25,7.89-2.63,16.72,1.51,24,2.95,5.2,8.6,9.29,14.8,8.4,14-2,19.81-24.47,16.46-35.79a1.5,1.5,0,0,0-2.89.8,307.26,307.26,0,0,1,4.23,32.25c.71,9.26,2.59,20.83-.73,29.74-2.13,5.74-10.61,13.82-15.28,5.18-2.81-5.19-.45-11.22,2.75-15.58,5.82-8,14.42-13.91,23.27-18,1.74-.82.22-3.4-1.52-2.59-10.5,4.9-22.77,13.23-27.33,24.39-3.17,7.75.48,21.56,11.31,18.05,11.23-3.63,11.55-18.07,11.26-27.6a310.36,310.36,0,0,0-5.07-46.6l-2.89.8c2.83,9.59-1.37,26-11,31-6.05,3.15-12.38-1.19-15.17-6.58-3.3-6.39-1.92-14.35-.85-21.1.3-1.89-2.59-2.7-2.89-.79Z" transform="translate(-13.31 -49.42)"/>
      <path class="path8" d="M402.61,88.72c9.17,7.86,22.09,12.35,32.93,5.26,3.82-2.49,8.87-5.71,9.52-10.65a6.52,6.52,0,0,0-6-7.57c-12-1.36-17.79,14.37-17.44,23.92.46,12.7,12.54,15.31,22.82,12.18,1.84-.56,1.05-3.45-.8-2.89-8.23,2.51-18.6,1.43-19-9.29-.29-7.23,2.92-17.94,10.51-20.48,3.68-1.24,8.5,1.35,6.32,5.69-.94,1.88-3.06,3.35-4.66,4.54-3.42,2.54-6.92,4.94-11.31,5.28-7.5.58-15.24-3.38-20.75-8.11-1.46-1.25-3.59.86-2.12,2.12Z" transform="translate(-13.31 -49.42)"/>
      <path class="path9" d="M463.54,75.36a325.21,325.21,0,0,0,.73,35.87,1.5,1.5,0,0,0,3,0,61.19,61.19,0,0,1,8.46-29.1c1-1.71,2.78-5.53,4.47-6.49,3.35-1.9,5.07,4,5.89,6.27a124.73,124.73,0,0,1,3.79,14.51c1,4.4.93,16.9,7.26,17.63,6.81.78,10.23-12.28,11.41-16.94.47-1.88-2.42-2.68-2.89-.8a43.84,43.84,0,0,1-3.07,8.6,12.17,12.17,0,0,1-1.68,3,2.19,2.19,0,0,1-2.7,1.31q-2.37,1.78-2.62-.45c-1.26-1.76-1.23-5.61-1.66-7.73-.55-2.74-1.14-5.46-1.78-8.18-1.3-5.5-3-18.92-9.51-21.49C477.8,69.5,472.32,81.85,470.78,85a64.66,64.66,0,0,0-6.51,26.25h3a325.21,325.21,0,0,1-.73-35.87c.07-1.93-2.93-1.93-3,0Z" transform="translate(-13.31 -49.42)"/>
      
    </svg>
  
  </div>


  <div id = "Header" class="head-1">I am Ba Lam</div>
  </div>
  <div class="information">

    <a href="https://www.facebook.com/profile.php?id=100004687593943">
    <i class="fa fa-facebook-official" aria-hidden="true"></i>
    </a>

    <a href="https://github.com/NhatNguyen1810">
    <i class="fa fa-github" aria-hidden="true"></i>
    </a>

    <a href="mailto:nhat7203@gmail.com">
    <i class="fa fa-envelope" aria-hidden="true"></i>
    </a>

  </div>
</div>





<div class="my-profile">
  <h1>My Profile</h1>
  <div class="profile-text">I am a Computer Science Student</div>
  <hr>
  <div class="profile-info">
    <ul>
      <li class="info-1">
        <h2>A few words about myself</h2>
        <br>
        <div>I am a Computer Science major with a great interest in Artificial Intelligence</div>
      </li>
      <li class="info-2">
        <img src="image/mainimage.jpg" alt="">
      </li>
      <li class="info-3">
        <h1>Details

        </h1>
        <ul>
          <li>Name: Nhat Nguyen</li>
          <li>Age: 19</li>
          <li>Location: Berkeley, CA, USA</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="skills">
  <h1>My Skills</h1>
  <hr>
  <div class="skill-info">
    <div class="skill-info-1">
      <p>Languages</p>
      <ul>
        <li>C++</li>
        <li>Java</li>
        <li>Javascript</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>MySQL</li>
      </ul>
    </div>
    <div class="skill-info-2">
      <p>Technoligies</p>
      <ul>
        <li>Bootstrap</li>
        <li>Android</li>
        <li>ReactJS</li>
        <li>Servlet</li>
        <li>Redux</li>
      </ul>
    </div>
  </div>
</div>

<div class="timeline">
  <div class="timeline-intro">
  <h1>Timeline</h1>
  <span>"In three words I can sum up everything I've learned about life: it goes on."</span>
  <span>― Robert Frost</span>
  </div>
  <hr>

  <div class="timeline-info">
   <div class="timeline-info-item">
     <div class="timeline-header">
     <h1>August 2014</h1>
     <h3>Started Studying at Nguyen Huu Huan High School</h3>
     </div>
     <div class="timeline-content">
       <img src="image/nhh.jpg" alt="">
     </div>
   </div>
   <div class="timeline-info-item">
     <div class="timeline-header">
     <h1>April 2016</h1>
     <h3>I got a gold medal in Olympic 30/4 Competition</h3>
     </div>
     <div class="timeline-content">
       <img src="image/image2.jpg" alt="">
     </div>

   </div>
   <div class="timeline-info-item">
     <div class="timeline-header">
     <h1>April 2017</h1>
     <h3>I got a second prize in a HCMC Mathematics competition</h3>
     </div>
     <div class="timeline-content">
       <img src="image/image4.jpg" alt="">
     </div>
   </div>

  </div>
</div>



<div class="tiphack">
  
  <h2>Projects</h2>
  <div class="tiphack-carousel">
    <div class="tiphack-slide">
      <ul class="tiphack-items">
        

        <li class="tiphack-item">
            <div class="tiphack-item-bound">
              <a href="https://github.com/NhatNguyen1810/PersonalWebsite">

                  <div class="tiphack-item-next">
                    
                      <div class="tiphack-item-img">
                        <img src="image/mysite.png" alt="">
                      </div>
                    
                  </div>

                  <div class="tiphack-cover">
                      <div class="tiphack-cover-inside">

                        <div class="tiphack-cover-inside-1"> 

                          

                        </div>
                      
                        </div>  
                  </div>

              </a>

            </div>  

        </li>




        <li class="tiphack-item">
            <div class="tiphack-item-bound">
              <a href="https://github.com/NhatNguyen1810/Caro-Game-">

                  <div class="tiphack-item-next">
                    
                      <div class="tiphack-item-img">
                        <img src="image/caro.png" alt="">
                      </div>
                    
                  </div>

                  <div class="tiphack-cover">
                      <div class="tiphack-cover-inside">

                        <div class="tiphack-cover-inside-1"> 

                          
                          
                        </div>
                      
                        </div>  
                  </div>

              </a>

            </div>  

        </li>




        

      </ul>
    </div>
    
  </div>
  <div class="tiphack-nutslide">
      <ul>
        <li class="tip-active"></li>
        <li></li>
        
      </ul>
   </div>
</div>





<script type="text/javascript" src="index.js"></script>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"></script>
<script type="text/javascript">
particlesJS("particles-js", {
  "particles": {
    "number": {
      "value": 120,
      "density": {
        "enable": true,
        "value_area": 700
      }
    },
    "color": {
      "value": "#ffffff"
    },
    "shape": {
      "type": "circle",
      "stroke": {
        "width": 0,
        "color": "#000000"
      },
      "polygon": {
        "nb_sides": 5
      }
    },
    "opacity": {
      "value": 0.5,
      "random": false,
      "anim": {
        "enable": false,
        "speed": 1,
        "opacity_min": 0.1,
        "sync": false
      }
    },
    "size": {
      "value": 3,
      "random": true,
      "anim": {
        "enable": false,
        "speed": 40,
        "size_min": 0.1,
        "sync": false
      }
    },
    "line_linked": {
      "enable": true,
      "distance": 150,
      "color": "#ffffff",
      "opacity": 0.4,
      "width": 1
    },
    "move": {
      "enable": true,
      "speed": 6,
      "direction": "none",
      "random": false,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 1200
      }
    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": true,
        "mode": "grab"
      },
      "onclick": {
        "enable": true,
        "mode": "repulse"
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 140,
        "line_linked": {
          "opacity": 1
        }
      },
      "bubble": {
        "distance": 400,
        "size": 40,
        "duration": 2,
        "opacity": 8,
        "speed": 3
      },
      "repulse": {
        "distance": 150,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
  "retina_detect": true
});





var cdongTimeLine = anime.timeline(); 




cdongTimeLine.add({
  targets:'.path1',
  strokeDashoffset:{
    value:0,
    duration:3000,
    easing:'easeOutSine'
  },
  direction: 'reverse',
  loop:true
  
  
  
 })


cdongTimeLine.add({
  targets:'.path2',
  strokeDashoffset:{
    value:0,
    duration:3000,
    easing:'easeOutSine'
  },
  direction: 'reverse',
  loop:true,
  offset:"-=2000ms"
  
})


cdongTimeLine.add({
  targets:'.path3',
  strokeDashoffset:{
    value:0,
    duration:3000,
    easing:'easeOutSine'
  },
  direction: 'reverse',
  loop:true,
  offset:"-=2000ms"
  
  
})


cdongTimeLine.add({
  targets:'.path4',
  strokeDashoffset:{
    value:0,
    duration:2000,
    easing:'easeOutSine'
  },
  direction: 'reverse',
  loop:true,
  offset:"-=2000ms"
  
  
})
cdongTimeLine.add({
  targets:'.path5',
  strokeDashoffset:{
    value:0,
    duration:3000,
    easing:'easeOutSine'
  },
  direction: 'reverse',
  loop:true,
  offset:"-=2000ms"
  
  

})





cdongTimeLine.add({
  targets:'.path6',
  strokeDashoffset:{
    value:0,
    duration:3000,
    easing:'easeOutSine'
  },
  loop:true,
  offset:"-=2000ms"
  
  
})
cdongTimeLine.add({
  targets:'.path7',
  strokeDashoffset:{
    value:0,
    duration:3000,
    easing:'easeOutSine'
  },
  loop:true,
  offset:"-=2000ms"
  
  
})
cdongTimeLine.add({
  targets:'.path8',
  strokeDashoffset:{
    value:0,
    duration:3000,
    easing:'easeOutSine'
  },
  loop:true,
  offset:"-=2000ms"
  
  
})
cdongTimeLine.add({
  targets:'.path9',
  strokeDashoffset:{
    value:0,
    duration:3000,
    easing:'easeOutSine'
  },
  loop:true,
  offset:"-=2000ms"
  
  
})
</script>
</body>
</html>


