<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MyPersonalWebsite</title>

  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="/js/index.js"></script>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"></script>
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">


</head>
<body>
	<div id="particles-js" class="particle">
  <nav class="menu">
    <ul class="nav-ul">
      <li>My Profile</li>
      <li>My Skills</li>
      <li>Timeline</li>
      <li>Projects</li>
      <li>Blog</li>
    </ul>
  </nav>
  <div class="text">
  <div class="ve1">
  <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 325.65 92.59"><title>Untitled-1</title>
    <path class="path1" d="M14.56,65.16c4.56-.1,9.6-.26,13.51-2.95,4.34-3,7-8.84,9.56-13.3A143.07,143.07,0,0,0,51.75,13.25L49,13.61c5.54,8.55,7.41,18.46,9.9,28.18,1.79,7,4,17.75,10.6,21.84a1.52,1.52,0,0,0,2.2-.89c1.49-3.87,1.46-7.76,1.61-11.85.19-5,.54-10,1.08-15A213.33,213.33,0,0,1,80.14,5l-2.21.89A29.45,29.45,0,0,1,92,22.5c.62,1.81,3.52,1,2.89-.8A32.6,32.6,0,0,0,79.45,3.31a1.53,1.53,0,0,0-2.21.9,222,222,0,0,0-5.41,28q-.93,7.45-1.34,14.94c-.26,5,.14,10.1-1.67,14.8L71,61c-4.14-2.55-5.92-8.9-7.31-13.24s-2.37-8.6-3.43-12.93c-1.95-8-4.19-15.83-8.69-22.78a1.52,1.52,0,0,0-2.74.36,140.38,140.38,0,0,1-11.3,30.27,110.26,110.26,0,0,1-7.61,13c-3.86,5.5-9,6.31-15.39,6.45-1.93,0-1.94,3,0,3Z" transform="translate(-13.11 -3.12)"/>
    <path class="path2" d="M110.05,14l0,48,2.94-.4c-1.05-4.44,10.37-8.23,13.13-8.78,5.1-1,9,4.14,11.24,8.22.92,1.7,3.51.19,2.59-1.51-3.06-5.64-9.07-12.11-16-9.54-5.19,1.91-15.52,5.17-13.8,12.41a1.51,1.51,0,0,0,2.95-.4l0-48a1.5,1.5,0,0,0-3,0Z" transform="translate(-13.11 -3.12)"/>
    <path class="path3" d="M163.48,49.83c-5.56-1.54-10.06,1.54-13.12,6-2.38,3.51-4.78,7.06-1,10.2,2.59,2.18,10,7.82,13.49,4.91,1.42-1.16,1.54-3,1.69-4.7.35-4.28.16-8.68.24-13h-3c0,5.33.32,15.26,5.13,18.83s6-3.24,6.91-6.52c4.84-17.44,9.05-35.25,7.18-53.46a1.5,1.5,0,0,0-3,0c-.34,16-1.75,34.8,4.7,49.84,1.46,3.41,4.64,9.16,9.18,7.77C197,68.19,201,59.63,202.78,55.16c.72-1.79-2.18-2.57-2.9-.8-1.74,4.31-8,17.13-13,9.29C183.93,59,183,53,182.21,47.7,180.41,36,180.71,24,181,12.16h-3c1.28,12.48-.27,24.82-3,37-1.26,5.57-2.75,11.08-4.28,16.57-.26.92-.51,1.83-.77,2.74q-.15,2.1-1.53-.32c-1.56-1.24-1.86-2.78-2.37-4.64a39,39,0,0,1-1.23-10.2,1.5,1.5,0,0,0-3,0l-.17,9.27c0,2.4.6,3.32-1.85,4.45-2.22,1-2.69.34-4.7-.83-2.81-1.64-5.18-3.55-3.26-6.85,2.31-4,5.65-8.09,10.93-6.63a1.5,1.5,0,0,0,.79-2.89Z" transform="translate(-13.11 -3.12)"/>
    <path class="path4" d="M156,34.46,217.48,32c1.92-.08,1.93-3.08,0-3L156,31.46c-1.92.07-1.93,3.08,0,3Z" transform="translate(-13.11 -3.12)"/>
    <path class="path5" d="M257,22.49a60.84,60.84,0,0,1-8.29,34.61l2.74,1.16,9.47-41.5L258.05,16c-1.41,9.06,4.59,19.86,9.68,27,4.78,6.74,12.47,12.41,21.13,11.49,9.77-1.05,11.49-11.12,14.4-18.87,3.08-8.21,10.28-20,5-28.56-1-1.64-3.6-.14-2.59,1.51,4.06,6.62-1.56,16.21-4,22.62-2.77,7.37-4.66,20.16-14.36,20.39-8,.2-14.41-5.8-18.39-12.12s-9.2-15.25-8-22.7c.29-1.86-2.45-2.72-2.89-.79l-9.47,41.49a1.51,1.51,0,0,0,2.74,1.15A63.7,63.7,0,0,0,260,22.49c-.11-1.92-3.11-1.94-3,0Z" transform="translate(-13.11 -3.12)"/>
    <path class="path6" d="M332.28,35.82c-10.35.64-43.17,14.79-26.31,28,6,4.67,15,4,20.47-1.11,6-5.6,7.09-14.54,7-22.31l-2.95.4c3,16,4,35.31-8.74,47.71-4,3.91-8.36,5.42-13.45,2.43-3.07-1.8-7.28-6.65-1.57-9.84,1.36-.76,3.61-.76,5.12-1,8.39-1.3,17.14-2,24.68,2.6,1.66,1,3.17-1.58,1.52-2.59a29.36,29.36,0,0,0-15.95-4c-5.17.06-12.74.22-17.43,2.64-9.07,4.66-.38,14.58,5.93,16.46,10.09,3,18-8.84,21.32-16.75C337,66.25,335.77,52.76,333.38,40c-.31-1.68-3-1.26-2.94.4.06,5.33-.32,11-2.87,15.84-3.36,6.32-10.87,9.81-17.69,6.5-3.81-1.85-6.6-5.93-4.78-10.21,1.15-2.71,5.31-4.66,7.71-6.17,6-3.8,12.23-7.13,19.47-7.58,1.92-.12,1.93-3.12,0-3Z" transform="translate(-13.11 -3.12)"/></svg>
  
  
 </div>


  <div id = "Header" class="head-1">I am Minh Nhat</div>
  </div>
  <div class="information">

    <a href="https://www.facebook.com/profile.php?id=100004687593943">
    <i class="fa fa-facebook-official" aria-hidden="true"></i>
    </a>

    <a href="https://github.com/NhatNguyen1810">
    <i class="fa fa-github" aria-hidden="true"></i>
    </a>

    <a href="mailto:nhat7203@gmail.com">
    <i class="fa fa-envelope" aria-hidden="true"></i>
    </a>

  </div>
</div>
<div class="my-profile">
  <h1>My Profile</h1>
  <div class="profile-text">I am a Computer Science Student</div>
  <hr>
  <div class="profile-info">
    <ul>
      <li class="info-1">
        <h2>A few words about myself</h2>
        <br>
        <div>I am a Computer Science major with a great interest in Artificial Intelligence</div>
      </li>
      <li class="info-2">
        <img src="image/mainimage.jpg" alt="">
      </li>
      <li class="info-3">
        <h1>Details

        </h1>
        <ul>
          <li>Name: Nhat Nguyen</li>
          <li>Age: 19</li>
          <li>Location: Berkeley, CA, USA</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="skills">
  <h1>My Skills</h1>
  <hr>
  <div class="skill-info">
    <div class="skill-info-1">
      <p>Languages</p>
      <ul>
        <li>C++</li>
        <li>Java</li>
        <li>Javascript</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>MySQL</li>
      </ul>
    </div>
    <div class="skill-info-2">
      <p>Technoligies</p>
      <ul>
        <li>Bootstrap</li>
        <li>Android</li>
        <li>ReactJS</li>
        <li>Servlet</li>
        <li>Redux</li>
      </ul>
    </div>
  </div>
</div>

<div class="timeline">
  <div class="timeline-intro">
  <h1>Timeline</h1>
  <span>"In three words I can sum up everything I've learned about life: it goes on."</span>
  <span>― Robert Frost</span>
  </div>
  <hr>

  <div class="timeline-info">
   <div class="timeline-info-item">
     <div class="timeline-header">
     <h1>August 2014</h1>
     <h3>Started Studying at Nguyen Huu Huan High School</h3>
     </div>
     <div class="timeline-content">
       <img src="image/nhh.jpg" alt="">
     </div>
   </div>
   <div class="timeline-info-item">
     <div class="timeline-header">
     <h1>April 2016</h1>
     <h3>I got a gold medal in Olympic 30/4 Competition</h3>
     </div>
     <div class="timeline-content">
       <img src="image/image2.jpg" alt="">
     </div>

   </div>
   <div class="timeline-info-item">
     <div class="timeline-header">
     <h1>April 2017</h1>
     <h3>I got a second prize in a HCMC Mathematics competition</h3>
     </div>
     <div class="timeline-content">
       <img src="image/image4.jpg" alt="">
     </div>
   </div>

  </div>
</div>



<div class="tiphack">
  
  <h2>Projects</h2>
  <div class="tiphack-carousel">
    <div class="tiphack-slide">
      <ul class="tiphack-items">
        

        <li class="tiphack-item">
            <div class="tiphack-item-bound">
              <a href="https://github.com/NhatNguyen1810/PersonalWebsite">

                  <div class="tiphack-item-next">
                    
                      <div class="tiphack-item-img">
                        <img src="image/mysite.png" alt="">
                      </div>
                    
                  </div>

                  <div class="tiphack-cover">
                      <div class="tiphack-cover-inside">

                        <div class="tiphack-cover-inside-1"> 

                          

                        </div>
                      
                        </div>  
                  </div>

              </a>

            </div>  

        </li>




        <li class="tiphack-item">
            <div class="tiphack-item-bound">
              <a href="https://github.com/NhatNguyen1810/Caro-Game-">

                  <div class="tiphack-item-next">
                    
                      <div class="tiphack-item-img">
                        <img src="image/caro.png" alt="">
                      </div>
                    
                  </div>

                  <div class="tiphack-cover">
                      <div class="tiphack-cover-inside">

                        <div class="tiphack-cover-inside-1"> 

                          
                          
                        </div>
                      
                        </div>  
                  </div>

              </a>

            </div>  

        </li>




        

      </ul>
    </div>
    
  </div>
  <div class="tiphack-nutslide">
      <ul>
        <li class="tip-active"></li>
        <li></li>
        
      </ul>
   </div>
</div>





<script type="text/javascript" src="index.js"></script>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"></script>
<script type="text/javascript">
particlesJS("particles-js", {
  "particles": {
    "number": {
      "value": 120,
      "density": {
        "enable": true,
        "value_area": 700
      }
    },
    "color": {
      "value": "#ffffff"
    },
    "shape": {
      "type": "circle",
      "stroke": {
        "width": 0,
        "color": "#000000"
      },
      "polygon": {
        "nb_sides": 5
      }
    },
    "opacity": {
      "value": 0.5,
      "random": false,
      "anim": {
        "enable": false,
        "speed": 1,
        "opacity_min": 0.1,
        "sync": false
      }
    },
    "size": {
      "value": 3,
      "random": true,
      "anim": {
        "enable": false,
        "speed": 40,
        "size_min": 0.1,
        "sync": false
      }
    },
    "line_linked": {
      "enable": true,
      "distance": 150,
      "color": "#ffffff",
      "opacity": 0.4,
      "width": 1
    },
    "move": {
      "enable": true,
      "speed": 6,
      "direction": "none",
      "random": false,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 1200
      }
    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": true,
        "mode": "grab"
      },
      "onclick": {
        "enable": true,
        "mode": "repulse"
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 140,
        "line_linked": {
          "opacity": 1
        }
      },
      "bubble": {
        "distance": 400,
        "size": 40,
        "duration": 2,
        "opacity": 8,
        "speed": 3
      },
      "repulse": {
        "distance": 150,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
  "retina_detect": true
});





var cdongTimeLine = anime.timeline(); 




cdongTimeLine.add({
  targets:'.path1',
  strokeDashoffset:{
    value:0,
    duration:3000,
    easing:'easeOutSine'
  },
  direction: 'reverse',
  loop:true
  
  
  
 })


cdongTimeLine.add({
  targets:'.path2',
  strokeDashoffset:{
    value:0,
    duration:3000,
    easing:'easeOutSine'
  },
  direction: 'reverse',
  loop:true,
  offset:"-=2000ms"
  
})


cdongTimeLine.add({
  targets:'.path3',
  strokeDashoffset:{
    value:0,
    duration:3000,
    easing:'easeOutSine'
  },
  direction: 'reverse',
  loop:true,
  offset:"-=2000ms"
  
  
})

cdongTimeLine.add({
  targets:'.path1',
  strokeDashoffset:{
    value:0,
    duration:3000,
    easing:'easeOutSine'
  },
  direction: 'reverse',
  loop:true,
  offset:"-=2000ms"
  
  
})
cdongTimeLine.add({
  targets:'.path4',
  strokeDashoffset:{
    value:0,
    duration:2000,
    easing:'easeOutSine'
  },
  direction: 'reverse',
  loop:true,
  offset:"-=2000ms"
  
  
})
cdongTimeLine.add({
  targets:'.path5',
  strokeDashoffset:{
    value:0,
    duration:3000,
    easing:'easeOutSine'
  },
  direction: 'reverse',
  loop:true,
  offset:"-=2000ms"
  
  

})





cdongTimeLine.add({
  targets:'.path6',
  strokeDashoffset:{
    value:0,
    duration:3000,
    easing:'easeOutSine'
  },
  loop:true,
  offset:"-=2000ms"
  
  
})
</script>
</body>
</html>


