<div class="information">
        <a href="https://www.facebook.com/profile.php?id=100004687593943">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
    
        <a href="https://github.com/NhatNguyen1810">
        <i class="fa fa-github" aria-hidden="true"></i>
        </a>
    
        <a href="mailto:nblam1994@berkeley.edu">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
    
</div>