<nav class="menu">
    <ul class="nav-ul">
      <li><a href="/myProfile">My Profile</a></li>
      <li><a href="/mySkills">My Skills</a></li>
      <li><a href="/projects">Projects</a></li>
      <li>Blog</li>
    </ul>
  </nav>